@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background-color: rgb(218, 218, 218);
  text-align: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.calculator {
  border: 2px solid black;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 35%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.screen {
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  padding: 0;
}

p {
  font-size: 20px;
  margin-right: 10px;
}

.allButtons {
  width: 100%;
  display: flex;
}

button {
  width: 33.3333%;
  background-color: rgb(201, 201, 201);
  border: 1px solid rgb(177, 177, 177);
  color: black;
  outline-style: none;
}

button:hover {
  background-color: rgb(177, 177, 177);
}

button:active {
  background-color: rgb(255, 167, 2);
}

.mainButtons {
  display: flex;
  flex-flow: wrap-reverse row;
  height: 40vh;
  width: 80%;
}

.operatorButtons {
  display: flex; 
  flex-flow: wrap row; 
}

#clear, #equal {
  flex: 2;
}