.calculator {
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: red;
}

.screen {
  width: 35%;
  height: 50px;
  background-color: black;
  color: white;
  padding-right: 10px;
}

.allButtons {
  width: 40%;
  display: flex;
}

button {
  width: 33.3333%;
  border-style: 2px solid black;
  background-color: rgb(201, 201, 201);
  color: black;
  outline-style: none;
}

.mainButtons {
  display: flex;
  flex-flow: wrap-reverse row;
  height: 40vh;
  width: 80%;
}

.operatorButtons {
  display: flex;
  flex-direction: wrap column;
  height: 100%;
  width: 20%
}

#clear {
  flex: 2;
}